<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-user fa-6x"></i>
      <h1 class="display-3">Welcome back <%=name%>!</h1>
      <p class="secret-text">
      <p class="secret-text">You are a Year <%=studyYear%> <%=course%> student!</p>
      </p>
      <hr>
      <a class="btn btn-light btn-lg" href="/signed-up" role="button">check groups signed up</a> <br><br>
      <a class="btn btn-light btn-lg" href="/board" role="button">look for bidders</a> <br><br>
      <a class="btn btn-light btn-lg" href="/indicate" role="button">indicate your modules</a>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

    </div>
  </div>

  <%- include('partials/footer') %>